@custom-variant dark (&:is(.dark *));
@import "tailwindcss";


:root {
  --font-size: 14px;
  --background: 219 27% 98%;
  --foreground: 210 29% 24%;
  --card: 204 16% 96%;
  --card-foreground: 210 29% 24%;
  --popover: 204 16% 96%;
  --popover-foreground: 210 29% 24%;
  --primary: 204 70% 53%;
  --primary-foreground: 0 0% 100%;
  --secondary: 192 15% 94%;
  --secondary-foreground: 210 29% 24%;
  --muted: 204 15% 92%;
  --muted-foreground: 184 6% 52%;
  --accent: 180 7% 84%;
  --accent-foreground: 210 29% 24%;
  --destructive: 6 78% 57%;
  --destructive-foreground: 0 0% 100%;
  --border: 204 70% 53% / 0.15;
  --input: transparent;
  --input-background: 192 15% 93%;
  --switch-background: 205 8% 76%;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: 204 70% 53%;
  --chart-1: 204 70% 53%;
  --chart-2: 145 63% 49%;
  --chart-3: 35 89% 51%;
  --chart-4: 6 78% 57%;
  --chart-5: 283 39% 53%;
  --radius: 0.625rem;
  --sidebar: 210 29% 29%;
  --sidebar-foreground: 192 15% 94%;
  --sidebar-primary: 204 70% 53%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 210 29% 24%;
  --sidebar-accent-foreground: 192 15% 94%;
  --sidebar-border: 210 29% 24%;
  --sidebar-ring: 204 70% 53%;
}

.dark {
  --background: 0 0% 10%;
  --foreground: 0 0% 91%;
  --card: 0 0% 15%;
  --card-foreground: 0 0% 91%;
  --popover: 0 0% 15%;
  --popover-foreground: 0 0% 91%;
  --primary: 212 100% 64%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 23%;
  --secondary-foreground: 0 0% 91%;
  --muted: 0 0% 20%;
  --muted-foreground: 0 0% 66%;
  --accent: 0 0% 25%;
  --accent-foreground: 0 0% 91%;
  --destructive: 0 100% 71%;
  --destructive-foreground: 0 0% 100%;
  --border: 212 100% 64% / 0.2;
  --input: 0 0% 20%;
  --ring: 212 100% 64%;
  --chart-1: 212 100% 64%;
  --chart-2: 135 61% 56%;
  --chart-3: 45 100% 62%;
  --chart-4: 0 100% 71%;
  --chart-5: 286 81% 71%;
  --sidebar: 0 0% 15%;
  --sidebar-foreground: 0 0% 91%;
  --sidebar-primary: 212 100% 64%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 0 0% 20%;
  --sidebar-accent-foreground: 0 0% 91%;
  --sidebar-border: 0 0% 25%;
  --sidebar-ring: 212 100% 64%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}